In [2]:
import requests
import pymongo
from flask import Flask, render_template, jsonify
from bson.json_util import dumps
from config import USER, PASSWORD
import pandas as pd

In [3]:
conn = f'mongodb+srv://{USER}:{PASSWORD}@weatherviz-andy-5dubo.mongodb.net/gtds_p3?retryWrites=true'
client = pymongo.MongoClient(conn)
db = client.gtds_p3

In [60]:
personal_df = pd.DataFrame()

for i in range(1993,1995):
    url = f'https://api.bjs.ojp.gov/bjs/ncvs/v2/personal/{i}?format=json'
    res = requests.get(url).json()
    data = res['personalData']
    df = pd.DataFrame(data)
    personal_df = personal_df.append(df)
#     db.personal.insert_many(data)

personal_df.head()

year: 1993
year: 1994

,ager,direl,ethnic1R,gender,hincome,hispanic,injury,locationr,marital2,msa,...,notify,race1R,region,seriousviolent,treatment,vicservices,weapcat,weapon,weight,year
0,2,4,1,1,6,2,0,3,1,1,...,2,1,-1,2,0,2,0,2,2542.4497,1993
1,2,4,1,1,6,2,0,2,1,1,...,2,1,-1,1,0,2,3,1,2542.4497,1993
2,3,4,1,2,5,2,0,3,1,1,...,1,1,-1,2,0,2,0,2,2481.7283,1993
3,3,4,1,2,5,2,1,3,1,1,...,2,1,-1,2,1,2,0,2,2481.7283,1993
4,1,4,1,1,3,88,1,1,1,1,...,2,1,-1,2,1,2,0,2,2021.608,1993

In [44]:
household_total = 0
for i in range(1993,2018):
    url = f' https://api.bjs.ojp.gov/bjs/ncvs/v2/household/{i}?format=json'
    res = requests.get(url).json()
    data = res['householdData']
    household_total += len(res['householdData'])
    print(f"year: {i}, records: {len(res['householdData'])}")
    db.household.insert_many(data)
    
print(f'total records: {household_total}')

year: 1993, records: 11458
year: 1994, records: 14711
year: 1995, records: 13790
year: 1996, records: 12168
year: 1997, records: 10738
year: 1998, records: 9568
year: 1999, records: 8510
year: 2000, records: 7743
year: 2001, records: 7324
year: 2002, records: 6840
year: 2003, records: 6917
year: 2004, records: 6862
year: 2005, records: 5973
year: 2006, records: 6636
year: 2007, records: 6655
year: 2008, records: 5590
year: 2009, records: 5386
year: 2010, records: 5570
year: 2011, records: 5857
year: 2012, records: 7431
year: 2013, records: 6189
year: 2014, records: 5549
year: 2015, records: 5809
year: 2016, records: 7736
year: 2017, records: 8629
total records: 50125