In [13]:
import pandas as pd
import numpy as np
import requests
import time
import datetime as dt
import pymongo
import ast
import json
from bson.json_util import dumps
from pprint import pprint
from config import USER, PASSWORD

In [14]:
conn = f'mongodb+srv://{USER}:{PASSWORD}@weatherviz-andy-5dubo.mongodb.net/gtds_p3?retryWrites=true'
client = pymongo.MongoClient(conn)
db = client.gtds_p3

In [15]:
master_df = pd.DataFrame()
personal_total = 0
for i in range(1993,2018):
    url = f' https://api.bjs.ojp.gov/bjs/ncvs/v2/personal/{i}?format=json'
    res = requests.get(url).json()
    data = res['personalData']
    df = pd.DataFrame(data)
    master_df = master_df.append(df)
    personal_total += len(res['personalData'])
    print(f"year: {i}, records: {len(res['personalData'])}")

year: 1993, records: 3730
year: 1994, records: 4939

c:\users\andy\anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

year: 1995, records: 4305
year: 1996, records: 3748
year: 1997, records: 3324
year: 1998, records: 3003
year: 1999, records: 2598
year: 2000, records: 2254
year: 2001, records: 2016
year: 2002, records: 1812
year: 2003, records: 1711
year: 2004, records: 1599
year: 2005, records: 1398
year: 2006, records: 1797
year: 2007, records: 1645
year: 2008, records: 1384
year: 2009, records: 1256
year: 2010, records: 1234
year: 2011, records: 1398
year: 2012, records: 1715
year: 2013, records: 1476
year: 2014, records: 1375
year: 2015, records: 1422
year: 2016, records: 1928
year: 2017, records: 2299

In [16]:
master_df = master_df.convert_objects(convert_numeric=True)
master_df.dtypes

c:\users\andy\anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

ager                int64
direl               int64
ethnic1R            int64
gender              int64
hincome           float64
hispanic            int64
injury              int64
locationr           int64
marital2            int64
msa                 int64
newcrime            int64
newoff              int64
notify              int64
popsize           float64
race1R              int64
region              int64
seriousviolent      int64
treatment         float64
vicservices       float64
weapcat             int64
weapon              int64
weight            float64
year                int64
dtype: object

In [17]:
dfv2 = master_df[['ager','hincome','injury','locationr','marital2','race1R','seriousviolent','gender','newoff','direl','weapcat','year']]

In [23]:
dfv2.count()

age                55366
hincome            54836
injury             55366
loc_incident       55366
marital_status     55366
race               55366
seriousviolent     55366
sex                55366
type_crime         55366
vo_relationship    55366
type_weapon        55366
year               55366
dtype: int64

In [18]:
dfv2 = dfv2.rename(columns={
    "ager": "age",
    # "hincome": "household income",
    "injury": "injury",
    "locationr": "loc_incident",
    "marital2": "marital_status",
    "race1R": "race",
    # "seriousviolent": "serious violent victimization",
    "gender": "sex",
    "newoff": "type_crime",
    "direl": "vo_relationship",
    "weapcat": "type_weapon",
    # "year": "year"
})

In [19]:
dfv2.head()

,age,hincome,injury,loc_incident,marital_status,race,seriousviolent,sex,type_crime,vo_relationship,type_weapon,year
0,2,6.0,0,3,1,1,2,1,4,4,0,1993
1,2,6.0,0,2,1,1,1,1,3,4,3,1993
2,3,5.0,0,3,1,1,2,2,4,4,0,1993
3,3,5.0,1,3,1,1,2,2,4,4,0,1993
4,1,3.0,1,1,1,1,2,1,4,4,0,1993

In [25]:
records = dfv2.to_dict('records') # json.loads(df.T.to_json()).values()

In [27]:
db.raw_data.drop()
db.raw_data.insert_many(records)

In [ ]:
legend = pd.read_csv('../src/Name_Conversions.csv')
legend.columns

In [ ]:
join_values = ['ager',  'newcrime',  'hispanic',
        'hincome',  'injury', 
       'locationr',  'msa', 
       'marital2',  'treatment',
        'popsize', 
       'weapon', 'race1R',  'ethnic1R',
        'region',  'notify',
        'seriousviolent',
       'gender',  'newoff',
        'vicservices',  'direl', 'weapcat']

col_val = 0
convert_df = master_df
for i in range(len(join_values)):
    sub_df = legend.iloc[:, col_val:(col_val+2)]
    
    convert_df = pd.merge(convert_df, sub_df, on=[join_values[i]])
    col_val = col_val + 2
    
convert_df.head()

In [ ]:
convert_df.columns

In [ ]:
crime_data = convert_df.to_dict('records')

In [ ]:
db.population.insert_many(crime_data)

In [ ]:
convert_df.to_csv('test.csv')